.map-head h4 {
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
}

.map iframe {
    border-radius: 20px;
}